<div style="padding:10px;">
  <div class="mb1">当前行：<span class="text-danger">{{ line }}</span></div>
  <div class="input-group">
    <input class="form-control" placeholder="批注...">
    <span class="input-group-btn"><button class="btn btn-default btn-comment-post" type="button" data-url="{% url 'article:article_post_comment' article.id article_post.id %}?line={{ line }}">提交</button></span>
  </div>
  {% for comment in article_comments %}
    <div class="media" style="padding-left: 15px;">
      <div class="media-body">
        <div class="pull-right"></div>
        <div class="">{{ comment.body|linebreaksbr }}</div>
        <div class="text-muted">{{ comment.user }}&nbsp;&nbsp;{{ comment.created|date:"Y-m-d H:i:s" }}</div>
      </div>
    </div>
  {% empty %}
    <div class="media text-muted"><div class="media-body">暂无批注</div></div>
  {% endfor %}
</div>
