textarea {
    resize: none;
}
textarea.minimum {
    height:80px;
}
textarea.medium {
    height:80px;
}
.mb1 {
    margin-bottom: 10px;
}
.form-register, .form-login, .form-change-pwd {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}